html,
body {
  margin: 0;
  font-family: "Tenor Sans", sans-serif;
}

.index {
  color: #405075;
  background-color: #fff0d7;
}

.index main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 28vw;
}

.wordmark {
  width: 55vw;
}

.motto {
  font-weight: normal;
  font-size: 3vw;
}

a {
  text-decoration: none;
  color: #405075;
}

.about {
  margin: 5vh 5vh 5vh 0;
  font-family: "Tenor Sans", sans-serif;
  background-color: #dc966d;
  color: #fff0d7;
}

.about a {
  color: #fff0d7;
}

.about main {
  display: flex;
}

.anabel {
  flex: 3;
}

.nathalie {
  flex: 2;
}

.founder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.founder h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2.5vw;
  height: 10vh;
  margin: 0;
}

.founder img {
  width: 20vw;
  border: 3px solid #59695f;
}
