html,
body {
  margin: 0;
  background-color: #fff0d7;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 40vw;
}

.wordmark {
  width: 80vw;
}

.motto {
  color: #405075;
  font-weight: normal;
  font-family: "Tenor Sans", sans-serif;
}

a {
  text-decoration: none;
}
